body {
    font-family: Roboto;
    text-align: center;
    background-color: #1e1414;
}

h1 {
    color: whitesmoke;
}

.controls {
    margin-bottom: 20px;
    color: whitesmoke;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    width: 60%;
    margin: auto;
    border: 2px solid #333;
    background: white;
}

#description{
    margin: auto;
    width: 60%;
    color: whitesmoke;
}

.bar {
    width: 20px;
    margin: 2px;
    background-color: steelblue;
}

.algo-desc {
    display: none;
}
